In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [15]:
reviews = pd.read_csv("movie_review.csv")

I've imported my CSV file and read it through python

In [16]:
reviews.head()

  Unnamed: 0  Get Out  Shooter  Rocky  Spiderman  Superman  Limitless
0    Anthony      4.0      2.0    2.0          5         5        NaN
1      Tania      5.0      4.0    NaN          3         2        4.0
2  Christine      4.0      NaN    3.0          3         2        5.0
3    Michael      5.0      3.0    NaN          4         4        4.0
4     Claire      NaN      2.0    1.0          2         3        3.0

I will utilize python code to calculate the average rating for each person

In [23]:
reviews.mean(axis='columns')

0    3.6
1    3.6
2    3.4
3    4.0
4    2.2
dtype: float64

I will utilize python code to calculate the average rating for each movie

In [24]:
reviews.mean(axis='index')

Get Out      4.50
Shooter      2.75
Rocky        2.00
Spiderman    3.40
Superman     3.20
Limitless    4.00
dtype: float64