In [ ]:
library(httr)
library(rjson)
library(jsonlite)
library(dplyr)

In [ ]:
nyt_book_list <- GET("https://api.nytimes.com/svc/books/v3/lists/overview.json?api-key=BRnDpUYaARf4t6wEHdpdRQQQw7s48bMf")
nyt_book_list

In [ ]:
response <- content(nyt_book_list) #view all the content structure
http_status(nyt_book_list)

In [ ]:
books <- fromJSON(nyt_book_list$url) 

typeof(books) # list

In [ ]:
author <- vector()
publisher <- vector()
title <- vector()
rank <- vector()
list_name <- vector()
#Loop through books on the best sellers list
for ( i in 1: 18) {
  for (j in 1:5) {
      list_name <- c(response$results$lists[[i]]$list_name, list_name)
      title <- c( response$results$lists[[i]]$books[[j]]$title, title) 
      author <- c( response$results$lists[[i]]$books[[j]]$author, author) 
      publisher <- c( response$results$lists[[i]]$books[[j]]$publisher, publisher) 
      rank <- c(  as.numeric  (response$results$lists[[i]]$books[[j]]$rank, rank   ))
  }

}

#Create a dataframe
books_df = data.frame(
  list_name = list_name,
  title = title,
  author = author,
  publisher = publisher,
  rank = rank
  )

books_df

In [ ]:
Young Adult Paperback Monthly	DEAR MARTIN	
Young Adult Paperback Monthly	SCYTHE	
Young Adult Paperback Monthly	LONG WAY DOWN	
Young Adult Paperback Monthly	THE ABSOLUTELY TRUE DIARY OF A PART-TIME INDIAN	
Young Adult Paperback Monthly	SALT TO THE SEA	
Middle Grade Paperback Monthly	FRONT DESK	
Middle Grade Paperback Monthly	RESTART	
Middle Grade Paperback Monthly	OUT OF MY MIND	
Middle Grade Paperback Monthly	THE ONE AND ONLY IVAN	
Middle Grade Paperback Monthly	A LONG WALK TO WATER

In [ ]:
is.data.frame(books_df)

In [ ]:
NYT_books_df <- write.table(books_df, file = "NYT_Readings.csv", row.names = FALSE, na="", col.names = TRUE, sep = ",")

In [ ]:
file_test("-f", "~/Desktop/NYT_Readings.csv")