Week 3 Assignment

In [1]:
import pandas as pd
import numpy as np

In [2]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [14]:
pd.read_csv("Airports.csv")

,faa,name,lat,lon,alt,tz,dst,tzone
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04G,Lansdowne Airport,41.130472,-80.619583,1044.0,-5.0,A,America/New_York
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06A,Moton Field Municipal Airport,32.460572,-85.680028,264.0,-6.0,A,America/Chicago
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2911,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0.0,-5.0,A,America/New_York
2912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2913,ZWU,Washington Union Station,38.897460,-77.006430,76.0,-5.0,A,America/New_York
2914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2915,ZYP,Penn Station,40.750500,-73.993500,35.0,-5.0,A,America/New_York

What is the northernmost airport in the United States?

Based off of the provided data, it appears that Lebanon Municpal Airport is the most northern airport in the US

What is the easternmost airport in the United States?

Bangor International Airport is the easternmost airport in the US

On February 12th, 2013, which New York area airport had the windiest weather?

Clarke Co Airport in Chicago had the windiest weather on this day.