In [1]:
import pandas as pd

In [2]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [12]:
cities = pd.read_csv("TopCities.csv")

I've imported my CSV file and read it through python

In [18]:
cities.head()

              City    Country  Population
0        S達o Paulo     Brazil  10,009,000
1           Bombay      India   9,925,000
2          JAKARTA  Indonesia   9,373,000
3          Karachi   Pakistan   9,339,000
4  MOSKVA (Moscow)     Russia   8,297,000

I will utilize the filtering tool to return only cities with a population within Brazil

In [29]:
cities[cities.Country == 'Brazil']

              City Country  Population
0        S達o Paulo  Brazil  10,009,000
21  Rio de Janeiro  Brazil   5,613,000
69        Salvador  Brazil   2,331,000
76  Belo Horizonte  Brazil   2,154,000
79       Fortaleza  Brazil   2,139,000
87        BRASILIA  Brazil   2,016,000