In [20]:
import pandas as pd

In [21]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [22]:
cities = pd.read_csv("TopCities.csv")

I've imported my CSV file and read it through python

In [23]:
cities

        South Korea    Country  Population
0         São Paulo     Brazil  10,009,000
1            Bombay      India   9,925,000
2           JAKARTA  Indonesia   9,373,000
3           Karachi   Pakistan   9,339,000
4   MOSKVA (Moscow)     Russia   8,297,000
..              ...        ...         ...
94          Mashhad       Iran         NaN
95         Medellín   Colombia         NaN
96           Kanpur      India         NaN
97         BUDAPEST    Hungary         NaN
98          CARACAS  Venezuela         NaN

[99 rows x 3 columns]

I decided to call the last 5 rows to be displayed. I noticed that there were no values specified within the population field

In [24]:
cities.tail()

   South Korea    Country Population
94     Mashhad       Iran        NaN
95    Medellín   Colombia        NaN
96      Kanpur      India        NaN
97    BUDAPEST    Hungary        NaN
98     CARACAS  Venezuela        NaN

In [25]:
cities.isnull().tail()

    South Korea  Country  Population
94        False    False        True
95        False    False        True
96        False    False        True
97        False    False        True
98        False    False        True

For the NaN fields, I chose to replace them with 'Not Provided' in order to tidy up the information

In [26]:
cities["Population"].fillna(value='Not Provided', inplace=True)

In [27]:
cities.tail()

   South Korea    Country    Population
94     Mashhad       Iran  Not Provided
95    Medellín   Colombia  Not Provided
96      Kanpur      India  Not Provided
97    BUDAPEST    Hungary  Not Provided
98     CARACAS  Venezuela  Not Provided