In [2]:
import sqlalchemy as sqla
import pandas as pd

importing my CSV file which was converted into a CSV file

In [3]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [4]:
Albums = pd.read_csv("Project3.csv")

Displaying the top five rows which is sorted by the customers Last Name

In [6]:
Albums.head()

   FirstName   LastName           Album          Track
0  Josephine      Court  Get Up And Try          Trust
1     Shayna     George       Transform  Introspective
2     Andrew      Hales        The Life  Into The Wild
3    Shanice  Heraldson      Impossible         Wonder
4    Anthony   Howthorn            Next         Amazed