Week 3 Assignment

In [9]:
import pandas as pd
import numpy as np

In [10]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

In [11]:
cd /Users/ryanmorales/desktop

/Users/ryanmorales/Desktop

This is how the outcome should look based off of the total miles rode per day

In [14]:
pd.read_csv("Book1.csv")

    Day  Miles Rode  Odometer
0     1        55.0      55.0
1     2        65.0     120.0
2     3        52.0     172.0
3     4        57.0     229.0
4     5        62.0     291.0
5     6        67.0     358.0
6     7        56.0     414.0
7     8        50.0     464.0
8     9        43.0     507.0
9    10        59.0     566.0
10   11        61.0     627.0
11   12        60.0     687.0
12   13        60.0     747.0
13   14        63.0     810.0
14   15        55.0     865.0
15   16        59.0     924.0
16   17        57.0     981.0
17   18        52.0    1033.0
18   19        68.0    1101.0
19   20        66.0    1167.0
20   21        61.0    1228.0
21   22        64.0    1292.0
22   23        54.0    1346.0
23   24        58.0    1404.0
24   25        31.6    1435.6

In [18]:
Series = pd.Series([55, 120, 172, 229, 291, 358, 414, 464, 507, 566, 627, 687, 747, 810, 865, 924, 981, 1033, 1101, 1167, 1228, 1292, 1346, 1404, 1435.6], index = [55, 65, 52, 57, 62, 67, 56, 50 , 43, 59, 61, 60, 60, 63, 55, 59, 57, 52, 68, 66, 61, 64, 54, 58, 31.6])

Executed the python series to display the Total miles rode

In [19]:
Series

55.0      55.0
65.0     120.0
52.0     172.0
57.0     229.0
62.0     291.0
67.0     358.0
56.0     414.0
50.0     464.0
43.0     507.0
59.0     566.0
61.0     627.0
60.0     687.0
60.0     747.0
63.0     810.0
55.0     865.0
59.0     924.0
57.0     981.0
52.0    1033.0
68.0    1101.0
66.0    1167.0
61.0    1228.0
64.0    1292.0
54.0    1346.0
58.0    1404.0
31.6    1435.6
dtype: float64